.color1{
	background-color: green;
}

.color2{
	background-color: #FFF47D;
}

.color3{
	background-color: #FFB830;
}

.color4{
	background-color: #98F859;
}

.color5{
	background-color: #FF0000;
}
.centro{
	text-align: center;
}

.justificado{
	text-align: justify;
}